.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $bg-color-black-lighter;
  position: relative;
  height: 3rem;
  .fabars{
    display: none;
  }
  .logo {
    margin-top: 0.2rem;
    width: 4.5rem;
    img {
      width: 100%;
      opacity: 0.8;
    }
  }
}
