.proCardComp {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 70%;
  width: 80%;
  max-width: 60rem;
  background-color: $bg-color-black;
  border: 2px solid $bg-color-red;
  border-radius: 1rem;
  box-shadow: $bg-color-orange 0px 7px 29px 0px;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: $pure-white;
  text-align: center;
  padding: 2%;
  div {
    margin: 0.5% 0;
  }
  h3 {
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1.6em; // minimum value
    --val: 1.3vw; // preferred value = 5% viewport width
    --max: 1.6em; // maximum value
    color: $bg-color-white;
    text-transform: uppercase;
  }
  p {
    font-size: clamp(var(--min), var(--val), var(--max));
    --min: 1.6em; // minimum value
    --val: 1vw; // preferred value = 5% viewport width
    --max: 1em; // maximum value
    color: $bg-color-white;
  }
  .inProgress{
    color: $bg-color-red;
    font-size: 1.2rem;
  }
  .imgCont {
    width: 75%;
overflow: hidden;
    img {
      width: 100%;
      display: block;
      border-radius: 1%;
    }
  }
  .toolsCont {
    display: flex;
    .tools {
      color: $bg-color-red;
      padding: 0.3rem;
      margin: 0 1rem;
      text-transform: uppercase;
    }
  }
}
