/* --- COLORS --- */
$bg-color-black: rgb(0, 0, 0);
$bg-color-red: rgba(253, 171, 108, 0.753);
$bg-color-orange: rgba(255, 111, 0, 0.5);

$bg-color-red-light: rgba(255, 111, 0, 0.7);
$bg-color-white: rgba(238, 238, 238, 0.782);
$bg-color-black-light: rgba(0, 0, 0, 0.666);
$bg-color-black-lighter: rgba(0, 0, 0, 0.18);
// FORM
$pure-white: white;
$light-white: rgba(255, 255, 255, 0.15);


/* --- FONTS --- */
//$body-font: 'Segoe UI', 'Gill Sans', 'Trebuchet MS', sans-serif;
$body-font: Tahoma, sans-serif;

$button-font:  'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;